version: '3'
services:
  mysql:
    image: mysql:8.0
    container_name: local-movie-mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=movie
      - MYSQL_PASSWORD=movie
      - MYSQL_DATABASE=movie-local
    volumes:
      - ./data/mysql/:/var/lib/mysql

networks:
  default:
    driver: bridge